header{
    text-align: center;
    margin-top: 50px;
    font-family: Poppins;
}

@media  (min-width: 992px) {

.card {
    text-align: center;
    width: 50%;
    margin: auto;
}
}

.icon-input {
    background-color: #EFF1F999;
    background-image: url('../../../../public/images/auth/email.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    margin-bottom: 10px;
  }
  .icon-input:focus {
    background-color: #EFF1F999; /* Maintain the same background color for focus */
  }

  .password-input {
    position: relative;
  }
  
  .icon-input2 {
    background-color: #EFF1F999;
    background-image: url('../../../../public/images/auth/Lock.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    width: 100%; /* To ensure the input fills the entire width */
  }
  .icon-input3 {
    background-color: #EFF1F999;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    margin-bottom: 10px;
  }
  .icon-input3:focus {
    background-color: #EFF1F999; /* Maintain the same background color for focus */
  }
  
  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .icon-input2:focus {
    background-color: #EFF1F999; /* Maintain the same background color for focus */
  }
  .input4 {
    background-color: #EFF1F999;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    margin-bottom: 10px;
  }
  .reset{
    text-align: right;
  }
  .account{
    text-align: center;
    margin-top: 40px;
  }
  .button{
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;

  }
  .google{
    background-color: #EFF1F999;
    border-radius: 8px;
    border: 1px solid #ABAFB1;
    margin-top: 20px;
    padding: 10px;
    color: black;
    display: flex;
    align-items: center;
  }
  .google img{
    margin-right: 10px;
  }
  .google p{
    margin-top: 15px;
    color: #65676B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .load{
    background: #FD69B2;
    width: 100%;
    height: 100vh;
    position: relative;
 
  }
  .load-white{
    background: white;
    width: 100%;
    height: 100vh;
    position: relative;
 
  }
  .load .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .load .spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .load-white p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .load-white .spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .form-text{
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
  }
  .profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    background-color: #EFF1F999;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-image: url('../../../../public/images/auth/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 15px center;
  }
  

  
  

