.MobileNavbarItem{
    display: none;
}

.NavbarItems{
    display: block;
    position: relative;
    background:var(--white-colour);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}

.Part{
    position: absolute;
    left: 3rem;
    justify-content: start;
}


.menuicon{
    display: block;
    margin-top: 2rem;
    cursor: pointer;
}


.navmenu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 35px;
    list-style: none;
    text-align: center;
    width: 2vw;
    justify-content:end;
}


.navlinks{
    color:#312F2F;
    text-decoration: none;
    padding: 0.5rem 0;
    
}


.navlinks:hover{
    border-radius: 4px;
    color: var(--red-colour);
    transition: all 0.5s ease-in;
    transform: scale(0.9);
}


.navbarlogo{
    display: block;
    text-align: center;
     justify-self: start;
     cursor: pointer;
     text-decoration: none;
     font-size: 1.5rem;
     letter-spacing: 0.3rem;
     font-weight: bold;
 }
 

 
 .Search{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right:0.5rem;
    padding: 1rem;
    width: 35rem;
 }

 
 .icons{
    font-size: 1.6rem;
    position: relative;
   
    }

    .icons:hover{
        color: var(--red-colour);
        transition: all 0.5s ease-in;
        transform: scale(1.1);
    }

      
  .user{
    display: flex;
    margin-right: 3.45rem;
    /* width: 50px;
    height: 50px; */
    /* font-size:35px; */
    border-radius: 40%;
    /* overflow: hidden; */
    cursor: pointer;
  }

  .Admin{
    position: relative;
}

.online{
    position: absolute;
    bottom: 20px;
    right: 3px;
    width: 10px;
    height: 10px;
    background-color: var(--green-colour);
    border-radius: 5rem;
}


.input{
    position:relative;
}

.input img{
    position: absolute;
    left: 10px;
    top: 4px;
    
}

.input span img{
  cursor: pointer;

}

@media screen and (max-width:828px){
    
    .NavbarItems{
        display: none;
    }

    .top{
        display: flex;
        justify-content: space-between;
        background-color:var(--pink-colour) ;
    }


    .MobileNavbarItem{
        display: block;
        position: relative;
        height:80px;
    }

    .navmenu{
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-gap: 30px;
        list-style: none;
        text-align: center;
        width: 90vw;
        justify-content:end;
    }
    
}