.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
  
  }
  
  form{
    position: relative;
    /* top: 5rem; */
    width: 25rem;
    padding: 20px 16px;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid var(--Box, #E4E6EB);
    background: #FFF;
  
  /* Box */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  }
  form .email{
    position: absolute;
    left: 2rem;
    cursor: text;
   padding-right: 30px;
  }

  form .lock{
    position: absolute;
    left: 2rem;
    cursor: text;
  
  }
  
  form .form-text{
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

  form input{
    padding-left:20px ;
  }
  